__pycache__/
.ipynb_checkpoints/
exp
tb
exp_local
nbs
cancel_sweep.py
check_sweep.py
# run_*.py
dmc_benchmarks.py

*.gif
lightning_logs
*_logs
agent_runs
.idea
.wandbrc
*.tar
d4rl_datasets

docker/NVIDIA-Linux-x86_64-495.29.05.run

*.png
finetune-bert-emb
lm_cache
wandb


# data for maze2d
maze2d-*_osil*
reacher_7dof-v1_osil_dataset*